.form-floating {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
}

.form-floating > label {
    color: gray
}

button {
    height: 58px;
}

#password-btn {
    color:#909090
}

.message-error {
    color: #dc3545
}

.invalid-feedback {
    display: block;
    color: #dc3545
}