

h2 {
  text-align: center;
}


.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  border-width: 3px;
  border-style: solid;
  border-color: gray
}