.form-floating {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
}

.form-floating > label {
    color: gray
}

button {
    height: 58px;
}

#password-btn {
    color:#909090
}

.message-error {
    color: #dc3545
}

.invalid-feedback {
    display: block;
    color: #dc3545
}


.login-card {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.or-container {
    position: relative;
    display: flex;
    margin-inline: 10px;
}

.or-divider {
    background-color: white;
    padding-inline: 10px;
    margin:auto;
    color: dimgray
}

.or-divider::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: lightgray;
    z-index: -1;
}

button, input, .input-group {
    border-width: 1px !important;
    border-color: #d9d9d9 !important;
    height: 45px;
}

p {
    color: #646464;
    text-align: center;
}

a {
    color: #0d6efd;
}

i, svg {
    font-size: 1.3rem;
}

p {
    color: black
}